{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'style2.css' %}">
    <title>Maisha</title>
</head>
<body>
    <a href="{% url 'home' %}">HOME</a><a href="{% url 'about' %}">ABOUT</a>
    <h1>Maisha Maliha Islam</h1>
    <p>
        Hello, my name is Maisha Maliha Islam. I am a CSE, 3rd year student. This is my portfolio.
    </p>
    <img src="{% static 'PIC.jpg' %}" alt="My image">


</body>
</html>